/* :root{
    
} */

* {
  font-family: Cascadia Code;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#container {
  padding: 30px;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  background-color: #636363;
}

#numberdsply {
  display: flex;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 80px;
  padding: 0px 16px;
}

#display {
  width: 100%;
  font-size: 21px;
  text-align: right;
  user-select: none;
  align-self: center;
}

#numberbtn {
  display: grid;
  gap: 12px 16px;
  grid-template-columns: 72px 72px 72px 72px;
}

.numKeys {
  padding: 24px;
  color: #fff;
  text-align: center;
  border-radius: 21px;
  background-color: #1f1f1f;
}

.numKeys:hover {
  color: #fff;
  cursor: pointer;
  background-color: #303030;
}

.clear {
  color: #fff;
  background-color: #da3e00;
}

.clear:hover {
  background-color: #aa3000;
}
