@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: url(https://wallpaperaccess.com/full/7270381.gif);
    background-size: cover;
}

#container{
    position: absolute;
}

#formArea{
    position: relative;
    border-radius: 30px;
    padding: 50px 30px 50px 30px;
    background-color: rgba(156, 156, 156, 0.8);
    width: 100%;
}

#formArea > label{
    font-size: 21px;
    user-select: none;
    color: #ffffff;
}

#formArea > input[type=radio] {
    margin: 20px;
}

#formArea > input[type=text], [type=email], [type=date] {
    margin: 20px 0px;
    width: 100%;
}

